#iconicartworks{
    >div{
        >div{
            @include md{
                display: grid;
            grid-template-columns: auto 800px auto;
            grid-template-areas: ". h1 .";
            }
            
            @include lg{
                grid-template-columns: auto 1000px auto;
            }
    
            @include lg{
                grid-template-columns: auto 1200px auto;
            }
             h1{
            text-align: center;

            @include md{
                text-align: left;
                grid-area: h1;
            }
        }
        }
       

        ul{
            @include md{
                display: grid;
                grid-template-columns: 35% 45% 20%;
                grid-template-areas:"sunflower2 sky gogh"
                                    "sunflower2 sky gogh"
                                    "sunflower2 sky people"
                                    "sunflower2 move people"
                                    "sunflower2 move flower"
                                    "sunflower2 move flower" ;
                                    gap: 10px;
            }

            @include lg{
              grid-template-columns: 25% 30% 15% 30%;
              grid-template-areas:"sunflower2 sky gogh riverside"
              "sunflower2 sky gogh riverside"
              "sunflower2 sky people riverside"
              "sunflower2 move people cafe"
              "sunflower2 move flower cafe"
              "sunflower2 move flower cafe" ;
            }
            li{
               section{
                 
                   background-color: rgba(0,0,0,0.7);
                   color: white;
                   display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". iconic-list .";

                   >div{
                       grid-area: iconic-list;
                   }
               }
            }

            #sunflower2{
                @include md{
                    grid-area: sunflower2;
                }
               aside{
                   background-image: url("../img/Iconic/sunflower2.jpg");
                   background-position: center;
                   background-size: cover;
                   display: grid;
                   grid-template-rows: 750px;

                   i{
                       font-size: rem-calc(50);
                       display: flex;
                       justify-content: flex-end;
                       align-items: center;
                       color: $blue;

                       &:hover {
                    
                        color: $white;
                        cursor: pointer;
                    }
                    
                       @include md{
                           display: none;
                       }
                   }

                   @include md{
                    grid-template-rows: 797px;
                   }
               }
               section{
                background-color: rgba(0,0,0,0.7);
                color: white;  
                margin-top: -70px;

                @include md{
                    margin-top: -87px;
                }

                @include xl{
                    margin-top: -70px;
                }
                >div{

                }
            }
            }

            #sky{
                display: none;
                @include md{
                    display: list-item;
                    grid-area: sky;
                    aside{
                        background-image: url("../img/Iconic/sky.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 390px;
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #move{
                display: none;
                @include md{
                    display: list-item;
                    grid-area: move;
                    aside{
                        background-image: url("../img/Iconic/move.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 390px;
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #gogh{
                display: none;
                @include md{
                    display: list-item;
                    grid-area: gogh;
                    aside{
                        background-image: url("../img/Iconic/gogh.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 250px;

                        @include xl{
                            grid-template-rows: 255px;
                        }
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #people{
                display: none;
                @include md{
                    display: list-item;
                    grid-area: people;
                    aside{
                        background-image: url("../img/Iconic/people.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 250px;
                        @include xl{
                            grid-template-rows: 255px;
                        }
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #flower{
                display: none;
                @include md{
                    display: list-item;
                    grid-area: flower;
                    aside{
                        background-image: url("../img/Iconic/flower.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 250px;
                        @include xl{
                            grid-template-rows: 255px;
                        }
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #riverside{
                display: none;
                @include lg{
                    display: list-item;
                    grid-area: riverside;
                    aside{
                        background-image: url("../img/Iconic/riverside.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 390px;
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }

            #cafe{
                display: none;
                @include lg{
                    display: list-item;
                    grid-area: cafe;
                    aside{
                        background-image: url("../img/Iconic/cafe.jpg");
                        background-position: center;
                        background-size: cover;
                        display: grid;
                        grid-template-rows: 390px;
                    }
                    section{
                        margin-top: -15px;
                    }
                }
            }
        }
    }
    }
    

